
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ urlFor('home') }}/assets/css/bootstrap.min.css"/>
    <style>
        body{
            padding-top: 60px;
        }
        .footer{
            margin-top: 20px;
            border-top: solid 1px #eee;
            padding-top: 20px;
        }
        {% block style %}
        {% endblock %}
    </style>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav pull-right">
                    {% block nav_right %}{% endblock %}
                </ul>

                <a href="{{ urlFor('home') }}" class="brand">SCI Internship</a>

                <ul class="nav">
                    {% block nav_left %}{% endblock %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
    <footer class="footer">
        <div class="container">
            <p></p>
            <ul class="breadcrumb">
                <li><a href="#">About Us</a> <span class="divider">|</span></li>
                <li><a href="#">Contact Us</a> <span class="divider">|</span></li>
                <li>SCI Internship &copy; 2013</li>
            </ul>
        </div>
    </footer>
    <script src="{{ urlFor('home') }}/assets/js/jquery.js"></script>
    <script src="{{ urlFor('home') }}/assets/js/bootstrap.min.js"></script>
    {% block script %}
    {% endblock %}
</body>
</html>