{% extends 'base.twig.html' %}

{% block nav_right %}
    <li class="dropdown">
        
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In <b class="caret"></b></a>
        <div class="dropdown-menu my-sign-in" id="signin-target">
            <form class="">
                
                <input type="text" name="username" placeholder="Username"/>

                <input type="password" name="password" placeholder="Password"/>
                
                <button type="submit" class="btn btn-primary">Sign In</button>

                <a href="#" class="pull-right">Forgot Password?</a>
            </form>
        </div>
    </li>
{% endblock %}

{% block nav_left %}
    <li><a href="{{ urlFor('downloads') }}">Downloads</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Students <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{{ urlFor('profiles') }}">Student Profiles</a></li>
            <li><a href="{{ urlFor('signup_student') }}">Student Sign Up</a></li>
        </ul>
    </li>
    <li><a href="#">Post Attachment</a></li>
{% endblock %}

{% block style %}
.my-sign-in{
    padding: 10px 10px 0px 10px;
}
{% endblock %}