{% extends 'logged_out.twig.html' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
<div class="page-header">
    <h1>Sign Up</h1>
</div>

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Reg. No</label>
        <div class="controls">
            <input type="text" name="regno"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Name</label>
        <div class="controls">
            <input type="text" name="name"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Email</label>
        <div class="controls">
            <input type="text" name="email"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Password</label>
        <div class="controls">
            <input type="password" name="password"/>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
</form>
{% endblock %}