{% extends 'logged_out.twig.html' %}

{% block title %}{{ student.name }} - Student Profiles{% endblock %}

{% block body %}
<div class="page-header">
    <h1>{{ student.name }}</h1>
</div>

<h3>Interests</h3>
<ul>
    <li>Playing Games</li>
    <li>White women</li>
    <li>Passion Fruit</li>
</ul>

<hr/>

<h3>Skills</h3>
<ul>
    <li>One Shot One Kill</li>
    <li>Fast Mouse Action</li>
    <li>Good with his hands</li>
</ul>

<hr/>

<h3>Experience</h3>
<ul>
    <li>Many Kills</li>
    <li>Many happy women</li>
</ul>

<hr/>

<a href="#signin-target" class="btn btn-primary" data-toggle="dropdown">Login to see more &raquo;</a>
{% endblock %}